.header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation-name: headerAnimation;
  animation-duration: 1s;
  z-index: 100;

  .signature {
    padding: 20px 40px;
    user-select: none;
    cursor: pointer;

    a {
      font-size: 2.5rem;
      font-weight: bold;
      color: #000000;
      font-family: 'dancing-script';
    }
  }

  .menu {
    padding: 20px 40px;

    ul {
      display: flex;

      li {
        padding: 20px;
        cursor: pointer;

        a {
          font-size: 1.25rem;
          transition: 0.3s;
          color: #000000;
        }
      }
    }
  }
}

.header-fixed {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  animation-name: headerFixedAnimation;
  animation-duration: 1s;
  backdrop-filter: blur(20px);
}

@keyframes headerAnimation {
  0%{
    opacity: 0;
  }
  15%{
    opacity: 0.25;
  }
  100%{
    opacity: 100%;
  }
}

@keyframes headerFixedAnimation {
  0%{
    transform: translateY(-20px);
    opacity: 0;
  }
  15%{
    transform: translateY(-15px);
    opacity: 0.25;
  }
  100%{
    transform: translateY(0);
    opacity: 100%;
  }
}