.summary {
  background-color: #f0f0f0;
  padding: 20px 20%;
  text-align: center;

  & > * {
    margin: 20px 0;
  }

  .title h3 {
      font-size: 2rem;
  }
  
  .content p{
    font-size: 1.3rem;
  }
}