$lightBackgroundColor: #ffffff;
$lightTextColor: #000000;
$lightTitleColor: #000000;

// section
$lightLineColor: #000000;
$lightBorderColor: rgba(#000000, 0.2);
$lightShadowColor: rgba(#000000, 0.2);