.section {
  padding: 20px 18%;
  overflow: hidden;

  & > * {
    margin: 20px 0;
  }

  .title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 100px 0;

    h3 {
      font-size: 3rem;
      text-align: center;
      text-transform: uppercase;
      font-family: "alegreya";
      opacity: 0.7;
    }

    svg {
      font-size: 30px;
    }

    .line {
      height: 2px;
      background-color: rgba($color: #000000, $alpha: 0.2);
    }
  }
}

@media screen and (max-width: 1240px) {
  .section {
    padding: 20px 0;
  }
}