.item-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(394px, 1fr));
  gap: 10px;
  padding: 10px;
  margin-bottom: 50px;
}

.more a {
  display: block;
  width: 100px;
  text-align: center;
  padding: 10px 20px;
  margin: auto;
}