.infinite-slider-wrapper {
  overflow: hidden;
  padding: 10px;
  mask-image: linear-gradient(90deg, transparent, #ffffff 10%, #ffffff 90%, transparent);

  .infinite-slider {
    display: flex;
    gap: 30px;

    .infinite-slider-items {
      display: flex;
      gap: 30px;
    }
  }
}