@import "theme/sass/theme";

.form-wrapper {
  width: 450px;
  padding: 20px;
  margin: 0 auto 100px auto;
  border-radius: 5px;
}

:global(.theme-dark) {
  .form-wrapper {
    border: $darkBorder;
    box-shadow: $darkShadow;
  }
}

:global(.theme-light) {
  .form-wrapper {
    border: $lightBorder;
    box-shadow: $lightShadow;

    &, * {
      background-color: #FFFFFF;
    }
  }
}