.form-wrapper {
  width: 450px;
  border: 1px solid rgba(0, 0, 0, 0.04);
  padding: 20px;
  margin: 0 auto 100px auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
}