@import "theme/sass/theme";

.block {
    border-radius: 5px;
    padding: 20px;


    .title {
        margin-bottom: 20px;

        h3 {
            font-size: 1.5rem;
        }
    }

    .content {
        text-align: justify;
        
        p{
            font-size: 1.3rem;
        }
    }
}

:global(.theme-dark) {
    .block {
        border: 1px solid $darkBorderColor;
        box-shadow: 2px 2px 10px 2px $darkShadowColor;
    }
}

:global(.theme-light) {
    .block {
        border: 1px solid $lightBorderColor;
        box-shadow: 2px 2px 10px 2px $lightShadowColor;
    }
}