@import "theme/sass/theme";

.block {
    border-radius: 5px;
    padding: 20px;

    .title {
        margin-bottom: 20px;

        h3 {
            font-size: 1.5rem;
        }
    }

    .content {
        text-align: justify;
        
        p{
            font-size: 1.3rem;
        }
    }
}

:global(.theme-dark) {
    .block {
        border: $darkBorder;
        box-shadow: $darkShadow;
    }
}

:global(.theme-light) {
    .block {
        border: $lightBorder;
        box-shadow: $lightShadow;

        &, * {
            background-color: #FFFFFF;
        }
    }
}