@import url(assets/sass/font.scss);
@import url(assets/sass/_variable.scss);

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;  
  border-radius: 10px;
}
