.button-link {
  display: block;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  transition: opacity 0.4s ease;

  &:hover {
    opacity: 0.8;
  }
}