@font-face {
  font-family: "montserrat";
  src: url(../font/Montserrat/Montserrat-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "montserrat";
  src: url(../font/Montserrat/Montserrat-Italic.ttf) format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "montserrat";
  src: url(../font/Montserrat/Montserrat-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "dancing-script";
  src: url(../font/DancingScript/DancingScript-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "alegreya";
  src: url("../font/Alegreya/Alegreya-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}